# ----------------------------------------------------------------------
# OS / Environment Files
# ----------------------------------------------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ----------------------------------------------------------------------
# IDEs and Editors
# ----------------------------------------------------------------------
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/
.buildpath

# ----------------------------------------------------------------------
# Node / NPM (For compiling AMD modules via Grunt)
# ----------------------------------------------------------------------
node_modules/
npm-debug.log
yarn-error.log

# ----------------------------------------------------------------------
# Composer (If you use external PHP libraries in the future)
# ----------------------------------------------------------------------
vendor/